body{
    margin: 0;
    background: #f0f3ef;
    font-family:"Microsoft YaHei", "Heiti SC", tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;/*去锯齿*/
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
div,
ul,
li{
box-sizing: border-box;
}
a{
    text-decoration: none;
}
i,
em{
    font-style: normal;
}
img{
    width: 100%;
}
dd,
dt{
    margin: 0;
    padding: 0;
}
input,
button{
    border: none;
    outline: none;
}
.clearfix::after{
    content: "";
    display:table;
    clear: both;
}
.layer{
    width: 1190px;
    margin: 0 auto;
}
